In [3]:
from linares_plot import *
import os
import datetime

In [40]:
df=pd.read_excel(os.getcwd() + '\\ANOTACIONES2.xlsx', sheet_name= 'Truco 1' )

In [41]:
df.head()

,tiempo,1a,1b,2a,2b,2c,3a,3b,4a,4b,...,34b,35a,35b,36a,36b,36c,37a,37b,38a,38b
0,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00:00:02,NaN,NaN,A7,NaN,NaN,a4,NaN,a4,NaN,...,NaN,NaN,NaN,A5,NaN,NaN,NaN,NaN,A5,NaN
2,00:00:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,a4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00:00:06,Se,NaN,NaN,NaN,NaN,O,NaN,NaN,NaN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,00:00:08,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O,NaN

In [43]:
df[['tiempo', '1a']]

       tiempo   1a
0    00:00:00  NaN
1    00:00:02  NaN
2    00:00:04  NaN
3    00:00:06   Se
4    00:00:08  NaN
5    00:00:10  Si
6    00:00:12    N
7    00:00:14  NaN
8    00:00:16  NaN
9    00:00:18  NaN
10   00:00:20  NaN
11   00:00:22  NaN
12   00:00:24  NaN
13   00:00:26  NaN
14   00:00:28  NaN
15   00:00:30  NaN
16   00:00:32   In
17   00:00:34  NaN
18   00:00:36  NaN
19   00:00:38  NaN
20   00:00:40  NaN
21   00:00:42  NaN
22   00:00:44  NaN
23   00:00:46  NaN
24   00:00:48  NaN
25   00:00:50  NaN
26   00:00:52  NaN
27   00:00:54  NaN
28   00:00:56  NaN
29   00:00:58  NaN
..        ...  ...
162  00:05:24  NaN
163  00:05:26  NaN
164  00:05:28  NaN
165  00:05:30  NaN
166  00:05:32  NaN
167  00:05:34  NaN
168  00:05:36  NaN
169  00:05:38  NaN
170  00:05:40  NaN
171  00:05:42  NaN
172  00:05:44  NaN
173  00:05:46   In
174  00:05:48  NaN
175  00:05:50  NaN
176  00:05:52  NaN
177  00:05:54  NaN
178  00:05:56  NaN
179  00:05:58    S
180  00:06:00    L
181  00:06:02  NaN
182  00:06:04  NaN
183  00:06:06  NaN
184  00:06:08  NaN
185  00:06:10  NaN
186  00:06:12  NaN
187  00:06:14  NaN
188  00:06:16  NaN
189  00:06:18    S
190  00:06:20  NaN
191  00:06:22  NaN

[192 rows x 2 columns]

In [37]:
l = df.tiempo.iloc[158### hacer columna de tiempo en segundos
times_s=[]
for i in range(0, len(df)):
    l = df.tiempo.iloc[158]
    times_s.append(  int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds()) )



df['time_s'] = times_s
df.head()]
print(l.hour)
print(l.minute)
print(l.second)

0
5
16

In [38]:
l = df.tiempo.iloc[158]
int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds())

316

In [11]:
from datetime import datetime

datetime.strptime(df.tiempo.iloc[0], "%H:%M:%S")

TypeError: strptime() argument 1 must be str, not datetime.time