In [99]:
from linares_plot import *
import os
import datetime
from datetime import datetime as dt
import re

In [114]:
##Actions Gea data
df_gea=pd.read_excel(os.getcwd() + '\\EVENTOS_GEA.xlsx', sheet_name='Hoja2' )
times_s = [df_gea.tiempo.iloc[i].minute*60 + df_gea.tiempo.iloc[i].second for i in range(len(df_gea))]
df_gea['times_s'] = times_s

### cambiar tiempo y tiempo_s por los corregidos, en los que se restan 10 minutos, 31 segundos. De esta manera, 
### los dos dataframes están sincronizados

new_times=[]
times_s_new=[]

for i in range(len(df_gea)):
    #print(i)
    h = df_gea.tiempo.iloc[i]
    h_t = str(h.hour) + ':' + str(h.minute) + ':' + str(h.second) 
    substracting = '00:10:31'
    new_time = dt.strptime(h_t, "%H:%M:%S") - dt.strptime(substracting, "%H:%M:%S")
    new_times.append(new_time)
    ##
    times_s_new.append(df_gea.times_s.loc[i] - (60*10 + 31) ) 

    
df_gea['tiempo'] = new_times 
df_gea['times_s'] = times_s_new 

df_gea = df_gea.sort_values(by=['times_s'])

df_gea= df_gea.reset_index()
df_gea = df_gea[['tiempo', 'evento', 'decripcion', 'times_s']]
df_gea['evento_'] = df_gea['evento'].copy()
df_gea['evento_'] = df_gea['evento_'].replace(['Miniclimax', 'Climax final' ], ['climax', 'climax']) #for simplicity
df_gea.head()

    tiempo  evento                          decripcion  times_s evento_
0 00:00:27     gag  broma sobre su dominio del catalán       27     gag
1 00:00:34     gag                    "Por deferencia"       34     gag
2 00:00:46  inicio        Abre el estuche de la baraja       46  inicio
3 00:01:05     gag                  "Que haya público"       65     gag
4 00:01:19     gag        "El público de schroedinger"       79     gag

In [158]:
##Memory data
df_ = pd.read_excel('C:\\Users\\David\\Documents\\GitHub\\Gea_memory\\df_proces.xlsx') 

df_int = df_.loc[(df_['session']==1) & ((df_['juego']==1) | (df_['juego']==2) | (df_['juego']==3)  | 
                               (df_['juego']==4)  | (df_['juego']==5)  | (df_['juego']==6)  | 
                               (df_['juego']==7) | (df_['juego']==8)), 
        ['recuerdo', 'juego', 'asiento', 'subj', 'tiempo', 'n_saliencias', 'edad', 'sexo']]

df_int = df_int.reset_index(drop=True) 
df_int['subj']=df_int['subj']+1
df_int.head()

   recuerdo  juego  asiento  subj  tiempo  n_saliencias  edad sexo
0         0      1       38     1       1             0    24    m
1         0      2       38     1       1             0    24    m
2         0      3       38     1       1             0    24    m
3         1      4       38     1       1             1    24    m
4         1      5       38     1       1             3    24    m

In [140]:
## seleccionar truco
T='Truco 1'

df=pd.read_excel(os.getcwd() + '\\ANOTACIONES2.xlsx', sheet_name= T )

In [139]:
df.head()

,tiempo,1a,1b,2a,2b,3a,3b,4a,4b,5a,...,33a,33b,34a,34b,35a,35b,36a,37a,38a,38b
0,00:06:24,N,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,...,NaN,NaN,a3,NaN,a4,NaN,NaN,NaN,NaN,NaN
1,00:06:26,NaN,NaN,B,NaN,B,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
2,00:06:28,NaN,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN,...,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00:06:30,NaN,NaN,S,NaN,P,NaN,NaN,NaN,NaN,...,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00:06:32,S,NaN,R,NaN,NaN,NaN,NaN,NaN,S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
list_columns_subjects = list(df.columns)
list_columns_subjects.remove('tiempo')
trick_ = 1
##list_columns_subjects=list_columns_subjects[70:84] ## para ir comprobando, una a una, que no haya espacios vacíos!

frames=[]

for subject in list_columns_subjects:
    #print(subject)
    dfs = df[['tiempo', subject]]
    dfs = dfs.loc[~pd.isna(dfs[subject])] # Quitar todos los NaN (qudarnos solo con los eventos)
    ####################################### Añadir una columna de segundos
    times_s=[]
    for i in range(0, len(dfs)):
        l = dfs.tiempo.iloc[i]
        times_s.append(  int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds()) )
    #
    dfs.columns=['tiempo', 'event']
    dfs['time_s'] = times_s
    ####################################### Añadir columna de subject y de truco
    dfs['trick'] = int(T.split(' ')[-1]) ## last character of the string is the number of the trick
    dfs['subject'] = int(re.findall('\d+', subject)[0]) ##separate leter from number
    frames.append(dfs)
    
    
dfs=pd.concat(frames)

In [218]:
df_subjects=[]

for subject in dfs.subject.unique():
    ####################################################### get the subject and sort by time, add duration and reset index
    df_x = dfs.loc[dfs['subject']==subject]
    df_x = df_x.sort_values(by=['time_s'])
    df_x['duration']=1
    df_x = df_x.reset_index(drop=True) 
    ###################################################### get actions with * --> calculate durations of previous and eliminate * actions
    boole=[] ###bolean to get the final of actions
    for i in range(len(df_x)):
        stri = df_x['event'].iloc[i]
        boole.append( stri[-1]=='*' )
    #
    boole=np.array(boole)
    finals = df_x[boole]
    for fi in range(len(finals)):
        event_final = finals.event.iloc[fi][:-1] ##without the astherisc
        time_final = finals.time_s.iloc[fi]
        #
        previous_event = df_x.loc[(df_x['event']==event_final) & (df_x['time_s']<time_final) ].iloc[-1] ##get the last one
        duration_event = time_final - previous_event.time_s
        ## Change the duration of the dataframe
        df_x.at[previous_event.name, 'duration'] = duration_event
    #
    df_x = df_x[~boole] ### remove the events with astherist
    ######################################################  gat applauses --> add duration (break A)
    boole_apl=[] ###bolean to get the final of actions
    for i in range(len(df_x)):
        stri = df_x['event'].iloc[i]
        if stri[0]=='a':
            boole_apl.append(True)
        elif stri[0]=='A':
            boole_apl.append(True)
        else:
            boole_apl.append(False)
    #
    boole_apl=np.array(boole_apl)    
    aplauses = df_x[boole_apl]
    for ap in range(len(aplauses)):
        event_ = aplauses.iloc[ap] 
        name_event = event_.event
        duration_app = int(re.findall('\d+', name_event)[0])
        evnt = re.split('(\d+)', name_event)[0]
        #
        df_x.at[event_.name, 'duration'] = duration_app
        df_x.at[event_.name, 'event'] = evnt
    #
    ###################################################### get previous action of the magician and Reaction time respect it
    prev_event=[]
    times_after=[]
    for evnt in range(len(df_x)):
        time_ = df_x.iloc[evnt].time_s    
        previous_events_gea = df_gea.loc[df_gea['times_s']<=time_]
        if len(previous_events_gea)==0:
            prev_event.append('None')
            times_after.append(-1)
        else:
            previous_event=previous_events_gea.evento.iloc[-1]
            prev_event.append(previous_event)
            time_after = df_x.time_s.iloc[evnt] - previous_events_gea.times_s.iloc[-1]
            times_after.append(time_after)
    ##
    df_x['RT'] = times_after
    df_x['previous_event'] = prev_event
    ###################################################### get future action of the magician and anticiipation time respect it
    next_event=[]
    times_before=[]
    for evnt in range(len(df_x)): 
        time_ = df_x.iloc[evnt].time_s    
        posts_events_gea = df_gea.loc[df_gea['times_s']>time_]
        if len(previous_events_gea)==0:
            next_event.append('None')
            times_before.append(1)
        else:
            next_evnt=posts_events_gea.evento.iloc[0]
            next_event.append(next_evnt)
            time_before = df_x.time_s.iloc[evnt] - posts_events_gea.times_s.iloc[0]
            times_before.append(time_before)
    ##
    df_x['anticip_time'] = times_before
    df_x['next_event'] = next_event
    ###################################################### add memory data
    if len(df_int.loc[(df_int['subj']==subject) & (df_int['juego']==trick_) & (df_int['tiempo']==1)]):
        r1 = df_int.loc[(df_int['subj']==subject) & (df_int['juego']==trick_) & (df_int['tiempo']==1)].recuerdo.iloc[0]
    else:
        r1='Miss'

    if len(df_int.loc[(df_int['subj']==subject) & (df_int['juego']==trick_) & (df_int['tiempo']==2)]):
        r2 = df_int.loc[(df_int['subj']==subject) & (df_int['juego']==trick_) & (df_int['tiempo']==2)].recuerdo.iloc[0]
    else:
        r2='Miss'

    if len(df_int.loc[(df_int['subj']==subject) & (df_int['juego']==trick_) & (df_int['tiempo']==3)]):
        r3 = df_int.loc[(df_int['subj']==subject) & (df_int['juego']==trick_) & (df_int['tiempo']==3)].recuerdo.iloc[0]
    else:
        r3='Miss'

    if len(df_int.loc[(df_int['subj']==subject) & (df_int['juego']==trick_) & (df_int['tiempo']==4)]):
        r4 = df_int.loc[(df_int['subj']==subject) & (df_int['juego']==trick_) & (df_int['tiempo']==4)].recuerdo.iloc[0]
    else:
        r4='Miss'

    df_x['r1'] = r1
    df_x['r2'] = r2
    df_x['r3'] = r3
    df_x['r4'] = r4
    ######################################################

    df_subjects.append(df_x)

In [219]:
df_subjects=pd.concat(df_subjects)

In [220]:
df_subjects

,tiempo,event,time_s,trick,subject,duration,RT,previous_event,anticip_time,next_event,r1,r2,r3,r4
0,00:00:06,Se,6,1,1,1,-1,None,-21,gag,0,0,0,0
1,00:00:10,Si,10,1,1,1,-1,None,-17,gag,0,0,0,0
2,00:00:12,N,12,1,1,102,-1,None,-15,gag,0,0,0,0
3,00:00:32,In,32,1,1,1,5,gag,-2,gag,0,0,0,0
4,00:01:02,In,62,1,1,1,16,inicio,-3,gag,0,0,0,0
5,00:01:32,In,92,1,1,1,1,gag,-27,gag,0,0,0,0
6,00:01:48,L,108,1,1,1,17,gag,-11,gag,0,0,0,0
8,00:01:54,L,114,1,1,1,23,gag,-5,gag,0,0,0,0
9,00:02:02,N,122,1,1,2,3,gag,-20,gag,0,0,0,0
11,00:02:08,N,128,1,1,20,9,gag,-14,gag,0,0,0,0
12,00:02:16,L,136,1,1,1,17,gag,-6,gag,0,0,0,0
13,00:02:22,I,142,1,1,1,0,gag,-8,gag,0,0,0,0
14,00:02:22,S,142,1,1,1,0,gag,-8,gag,0,0,0,0
16,00:02:30,L,150,1,1,4,0,gag,-18,gag,0,0,0,0
18,00:02:36,S,156,1,1,1,6,gag,-12,gag,0,0,0,0
19,00:02:36,N,156,1,1,24,6,gag,-12,gag,0,0,0,0
20,00:03:00,L,180,1,1,6,12,gag,-13,gag,0,0,0,0
22,00:03:06,N,186,1,1,42,18,gag,-7,gag,0,0,0,0
24,00:03:20,S,200,1,1,1,0,gag,-26,Miniclimax,0,0,0,0
26,00:03:48,In,228,1,1,1,2,Miniclimax,-38,Maniobra,0,0,0,0
27,00:03:50,a,230,1,1,1,4,Miniclimax,-36,Maniobra,0,0,0,0
28,00:03:50,S,230,1,1,1,4,Miniclimax,-36,Maniobra,0,0,0,0
29,00:04:32,In,272,1,1,1,0,gag,-4,gag,0,0,0,0
30,00:04:32,S,272,1,1,12,0,gag,-4,gag,0,0,0,0
31,00:04:38,F,278,1,1,1,0,Miniclimax,-25,gag,0,0,0,0
32,00:04:40,C,280,1,1,1,2,Miniclimax,-23,gag,0,0,0,0
34,00:04:46,N,286,1,1,1,8,Miniclimax,-17,gag,0,0,0,0
35,00:04:46,Se,286,1,1,1,8,Miniclimax,-17,gag,0,0,0,0
36,00:05:16,In,316,1,1,1,13,gag,-40,Climax final,0,0,0,0
37,00:05:46,In,346,1,1,1,43,gag,-10,Climax final,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,00:02:02,D,122,1,38,1,3,gag,-20,gag,0,Miss,Miss,Miss
13,00:02:10,D,130,1,38,1,11,gag,-12,gag,0,Miss,Miss,Miss
14,00:02:20,S,140,1,38,1,21,gag,-2,gag,0,Miss,Miss,Miss
15,00:02:22,D,142,1,38,1,0,gag,-8,gag,0,Miss,Miss,Miss
16,00:02:22,L,142,1,38,1,0,gag,-8,gag,0,Miss,Miss,Miss
17,00:02:26,N,146,1,38,1,4,gag,-4,gag,0,Miss,Miss,Miss
18,00:02:28,L,148,1,38,1,6,gag,-2,gag,0,Miss,Miss,Miss
19,00:02:44,D,164,1,38,1,14,gag,-4,gag,0,Miss,Miss,Miss
20,00:02:44,S,164,1,38,1,14,gag,-4,gag,0,Miss,Miss,Miss
21,00:02:48,D,168,1,38,1,0,gag,-25,gag,0,Miss,Miss,Miss
22,00:02:52,S,172,1,38,1,4,gag,-21,gag,0,Miss,Miss,Miss
23,00:02:58,N,178,1,38,1,10,gag,-15,gag,0,Miss,Miss,Miss
24,00:02:58,L,178,1,38,1,10,gag,-15,gag,0,Miss,Miss,Miss
25,00:03:18,S,198,1,38,1,5,gag,-2,gag,0,Miss,Miss,Miss
26,00:03:24,N,204,1,38,1,4,gag,-22,Miniclimax,0,Miss,Miss,Miss
27,00:03:54,In,234,1,38,1,8,Miniclimax,-32,Maniobra,0,Miss,Miss,Miss
28,00:04:30,S,270,1,38,1,3,Miniclimax,-2,gag,0,Miss,Miss,Miss
29,00:04:42,D,282,1,38,1,4,Miniclimax,-21,gag,0,Miss,Miss,Miss
30,00:04:42,S,282,1,38,1,4,Miniclimax,-21,gag,0,Miss,Miss,Miss
31,00:04:46,L,286,1,38,1,8,Miniclimax,-17,gag,0,Miss,Miss,Miss
32,00:05:16,In,316,1,38,1,13,gag,-40,Climax final,0,Miss,Miss,Miss
33,00:05:20,S,320,1,38,1,17,gag,-36,Climax final,0,Miss,Miss,Miss
34,00:05:20,D,320,1,38,1,17,gag,-36,Climax final,0,Miss,Miss,Miss
35,00:05:50,In,350,1,38,1,47,gag,-6,Climax final,0,Miss,Miss,Miss
36,00:05:58,a,358,1,38,4,2,Climax final,-20,Climax final,0,Miss,Miss,Miss
37,00:06:02,O,362,1,38,1,6,Climax final,-16,Climax final,0,Miss,Miss,Miss
38,00:06:04,L,364,1,38,1,8,Climax final,-14,Climax final,0,Miss,Miss,Miss
39,00:06:16,N,376,1,38,1,20,Climax final,-2,Climax final,0,Miss,Miss,Miss
40,00:06:18,S,378,1,38,1,0,Climax final,-14,gag,0,Miss,Miss,Miss
41,00:06:20,A,380,1,38,5,2,Climax final,-12,gag,0,Miss,Miss,Miss

In [173]:
subject=3
df_x = dfs.loc[dfs['subject']==subject]
df_x = df_x.sort_values(by=['time_s'])
df_x['duration']=1
df_x = df_x.reset_index(drop=True) 
df_x.head()

     tiempo event  time_s  trick  subject  duration
0  00:00:02    a4       2      1        3         1
1  00:00:06     O       6      1        3         1
2  00:00:14     S      14      1        3         1
3  00:00:22     O      22      1        3         1
4  00:00:26     R      26      1        3         1

In [174]:
boole=[] ###bolean to get the final of actions
for i in range(len(df_x)):
    stri = df_x['event'].iloc[i]
    boole.append( stri[-1]=='*' )

boole=np.array(boole)    
    
finals = df_x[boole]
finals

     tiempo event  time_s  trick  subject  duration
5  00:00:28    O*      28      1        3         1

In [175]:
for fi in range(len(finals)):
    event_final = finals.event.iloc[fi][:-1] ##without the astherisc
    time_final = finals.time_s.iloc[fi]
    #
    previous_event = df_x.loc[(df_x['event']==event_final) & (df_x['time_s']<time_final) ].iloc[-1] ##get the last one
    duration_event = time_final - previous_event.time_s
    ## Change the duration of the dataframe
    df_x.at[previous_event.name, 'duration'] = duration_event
    
##
df_x = df_x[~boole] ### remove the events with astherist

In [176]:
boole_apl=[] ###bolean to get the final of actions
for i in range(len(df_x)):
    stri = df_x['event'].iloc[i]
    if stri[0]=='a':
        boole_apl.append(True)
    elif stri[0]=='A':
        boole_apl.append(True)
    else:
        boole_apl.append(False)
    
boole_apl=np.array(boole_apl)    
    
aplauses = df_x[boole_apl]
aplauses

      tiempo event  time_s  trick  subject  duration
0   00:00:02    a4       2      1        3         1
43  00:05:56    A7     356      1        3         1
45  00:06:18   A+6     378      1        3         1

In [177]:
for ap in range(len(aplauses)):
    event_ = aplauses.iloc[ap] 
    name_event = event_.event
    duration_app = int(re.findall('\d+', name_event)[0])
    evnt = re.split('(\d+)', name_event)[0]
    #
    df_x.at[event_.name, 'duration'] = duration_app
    df_x.at[event_.name, 'event'] = evnt

In [178]:
df_x.head()

     tiempo event  time_s  trick  subject  duration
0  00:00:02     a       2      1        3         4
1  00:00:06     O       6      1        3         1
2  00:00:14     S      14      1        3         1
3  00:00:22     O      22      1        3         6
4  00:00:26     R      26      1        3         1

In [179]:
prev_event=[]
times_after=[]

for evnt in range(len(df_x)): ##len(df_x)
    time_ = df_x.iloc[evnt].time_s    
    previous_events_gea = df_gea.loc[df_gea['times_s']<=time_]
    if len(previous_events_gea)==0:
        prev_event.append('None')
        times_after.append(-1)
    else:
        previous_event=previous_events_gea.evento.iloc[-1]
        prev_event.append(previous_event)
        time_after = df_x.time_s.iloc[evnt] - previous_events_gea.times_s.iloc[-1]
        times_after.append(time_after)

##
df_x['RT'] = times_after
df_x['previous_event'] = prev_event

In [168]:
df_x.head(10)

      tiempo event  time_s  trick  subject  duration  RT previous_event
0   00:00:02     a       2      1        3         4  -1           None
1   00:00:06     O       6      1        3         1  -1           None
2   00:00:14     S      14      1        3         1  -1           None
3   00:00:22     O      22      1        3         6  -1           None
4   00:00:26     R      26      1        3         1  -1           None
6   00:00:48     P      48      1        3         1   2         inicio
7   00:00:52     L      52      1        3         1   6         inicio
8   00:01:04     S      64      1        3         1  18         inicio
9   00:01:18     P      78      1        3         1  13            gag
10  00:01:18     S      78      1        3         1  13            gag

In [180]:
next_event=[]
times_before=[]

for evnt in range(len(df_x)): ##len(df_x)
    time_ = df_x.iloc[evnt].time_s    
    posts_events_gea = df_gea.loc[df_gea['times_s']>time_]
    if len(previous_events_gea)==0:
        next_event.append('None')
        times_before.append(1)
    else:
        next_evnt=posts_events_gea.evento.iloc[0]
        next_event.append(next_evnt)
        time_before = df_x.time_s.iloc[evnt] - posts_events_gea.times_s.iloc[0]
        times_before.append(time_before)

##
df_x['anticip_time'] = times_before
df_x['next_event'] = next_event

In [181]:
df_x.head(10)

,tiempo,event,time_s,trick,subject,duration,RT,previous_event,anticip_time,next_event
0,00:00:02,a,2,1,3,4,-1,None,-25,gag
1,00:00:06,O,6,1,3,1,-1,None,-21,gag
2,00:00:14,S,14,1,3,1,-1,None,-13,gag
3,00:00:22,O,22,1,3,6,-1,None,-5,gag
4,00:00:26,R,26,1,3,1,-1,None,-1,gag
6,00:00:48,P,48,1,3,1,2,inicio,-17,gag
7,00:00:52,L,52,1,3,1,6,inicio,-13,gag
8,00:01:04,S,64,1,3,1,18,inicio,-1,gag
9,00:01:18,P,78,1,3,1,13,gag,-1,gag
10,00:01:18,S,78,1,3,1,13,gag,-1,gag

In [214]:

if len(df_int.loc[(df_int['subj']==subject) & (df_int['juego']==1) & (df_int['tiempo']==1)]):
    r1 = df_int.loc[(df_int['subj']==subject) & (df_int['juego']==1) & (df_int['tiempo']==1)].recuerdo.iloc[0]
else:
    r1='Miss'

if len(df_int.loc[(df_int['subj']==subject) & (df_int['juego']==1) & (df_int['tiempo']==2)]):
    r2 = df_int.loc[(df_int['subj']==subject) & (df_int['juego']==1) & (df_int['tiempo']==2)].recuerdo.iloc[0]
else:
    r2='Miss'

if len(df_int.loc[(df_int['subj']==subject) & (df_int['juego']==1) & (df_int['tiempo']==3)]):
    r3 = df_int.loc[(df_int['subj']==subject) & (df_int['juego']==1) & (df_int['tiempo']==3)].recuerdo.iloc[0]
else:
    r3='Miss'

if len(df_int.loc[(df_int['subj']==subject) & (df_int['juego']==1) & (df_int['tiempo']==4)]):
    r4 = df_int.loc[(df_int['subj']==subject) & (df_int['juego']==1) & (df_int['tiempo']==4)].recuerdo.iloc[0]
else:
    r4='Miss'
    
df_x['r1'] = r1
df_x['r2'] = r2
df_x['r3'] = r3
df_x['r4'] = r4

In [216]:
df_x.head(10)

,tiempo,event,time_s,trick,subject,duration,RT,previous_event,anticip_time,next_event,r1,r2,r3,r4
0,00:00:02,a,2,1,3,4,-1,None,-25,gag,0,Miss,Miss,Miss
1,00:00:06,O,6,1,3,1,-1,None,-21,gag,0,Miss,Miss,Miss
2,00:00:14,S,14,1,3,1,-1,None,-13,gag,0,Miss,Miss,Miss
3,00:00:22,O,22,1,3,6,-1,None,-5,gag,0,Miss,Miss,Miss
4,00:00:26,R,26,1,3,1,-1,None,-1,gag,0,Miss,Miss,Miss
6,00:00:48,P,48,1,3,1,2,inicio,-17,gag,0,Miss,Miss,Miss
7,00:00:52,L,52,1,3,1,6,inicio,-13,gag,0,Miss,Miss,Miss
8,00:01:04,S,64,1,3,1,18,inicio,-1,gag,0,Miss,Miss,Miss
9,00:01:18,P,78,1,3,1,13,gag,-1,gag,0,Miss,Miss,Miss
10,00:01:18,S,78,1,3,1,13,gag,-1,gag,0,Miss,Miss,Miss

In [301]:
previous_event.name

136

In [286]:
df_x = df_x.reset_index()
df_x

ValueError: cannot insert level_0, already exists

In [281]:
df_x.iloc[previous_event.name, 'duration']=25

IndexError: single positional indexer is out-of-bounds

In [271]:
df_x.loc[(df_x['event']==event_final) & (df_x['time_s']<time_final), 'duration' ].iloc[-1]

0

In [276]:
df_x.loc[(df_x['event']==event_final) & (df_x['time_s']<time_final)].iloc[-1].duration

0

In [274]:
df_x

       tiempo event  time_s  trick  subject  duration
3    00:00:06    Se       6      1        1         0
5    00:00:10   Si       10      1        1         0
6    00:00:12     N      12      1        1         0
16   00:00:32    In      32      1        1         0
31   00:01:02    In      62      1        1         0
46   00:01:32    In      92      1        1         0
54   00:01:48     L     108      1        1         0
57   00:01:54    N*     114      1        1         0
57   00:01:54     L     114      1        1         0
61   00:02:02     N     122      1        1         0
62   00:02:04    N*     124      1        1         0
64   00:02:08     N     128      1        1         0
68   00:02:16     L     136      1        1         0
71   00:02:22     I     142      1        1         0
71   00:02:22     S     142      1        1         0
74   00:02:28    N*     148      1        1         0
75   00:02:30     L     150      1        1         0
77   00:02:34    L*     154      1        1         0
78   00:02:36     S     156      1        1         0
78   00:02:36     N     156      1        1         0
90   00:03:00     L     180      1        1         0
90   00:03:00    N*     180      1        1         0
93   00:03:06     N     186      1        1         0
93   00:03:06    L*     186      1        1         0
100  00:03:20     S     200      1        1         0
114  00:03:48    N*     228      1        1         0
114  00:03:48    In     228      1        1         0
115  00:03:50    a1     230      1        1         0
115  00:03:50     S     230      1        1         0
136  00:04:32    In     272      1        1         0
136  00:04:32     S     272      1        1         0
139  00:04:38     F     278      1        1         0
140  00:04:40     C     280      1        1         0
142  00:04:44    S*     284      1        1         0
143  00:04:46     N     286      1        1         0
143  00:04:46    Se     286      1        1         0
158  00:05:16    In     316      1        1         0
173  00:05:46    In     346      1        1         0
179  00:05:58     S     358      1        1         0
180  00:06:00     L     360      1        1         0
189  00:06:18     S     378      1        1         0
190  00:06:20    A8     380      1        1         0

In [255]:
previous_event = df_x.loc[(df_x['event']=='N') & (df_x['time_s']<114) ].iloc[-1]

tiempo     00:00:12
event             N
time_s           12
trick             1
subject           1
Name: 6, dtype: object

'A8'

In [37]:
l = df.tiempo.iloc[158### hacer columna de tiempo en segundos
times_s=[]
for i in range(0, len(df)):
    l = df.tiempo.iloc[158]
    times_s.append(  int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds()) )



df['time_s'] = times_s
df.head()]
print(l.hour)
print(l.minute)
print(l.second)

0
5
16

In [38]:
l = df.tiempo.iloc[158]
int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds())

316

In [11]:
from datetime import datetime

datetime.strptime(df.tiempo.iloc[0], "%H:%M:%S")

TypeError: strptime() argument 1 must be str, not datetime.time