In [3]:
from linares_plot import *
import os
import datetime

In [5]:
df=pd.read_excel(os.getcwd() + '\\ANOTACIONES2.xlsx', sheet_name= 'Truco 1' )

In [8]:
df.head()

,tiempo,1a,1b,2a,2b,2c,3a,3b,4a,4b,...,34b,35a,35b,36a,36b,36c,37a,37b,38a,38b
0,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00:00:02,NaN,NaN,A7,NaN,NaN,a4,NaN,a4,NaN,...,NaN,NaN,NaN,A5,NaN,NaN,NaN,NaN,A5,NaN
2,00:00:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,a4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00:00:06,Se,NaN,NaN,NaN,NaN,O,NaN,NaN,NaN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,00:00:08,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O,NaN

In [29]:
l = df.tiempo.iloc[2]
l.hour
l.minute
l.second

4

In [23]:
t

datetime.time(10, 0, 5)

In [13]:

l = df.tiempo.iloc[2]
int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds())

36005

In [11]:
from datetime import datetime

datetime.strptime(df.tiempo.iloc[0], "%H:%M:%S")

TypeError: strptime() argument 1 must be str, not datetime.time