In [46]:
from linares_plot import *
import os
import datetime

In [47]:
df=pd.read_excel(os.getcwd() + '\\ANOTACIONES2.xlsx', sheet_name= 'Truco 1' )

In [48]:
df.head()

,tiempo,1a,1b,2a,2b,2c,3a,3b,4a,4b,...,34b,35a,35b,36a,36b,36c,37a,37b,38a,38b
0,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00:00:02,NaN,NaN,A7,NaN,NaN,a4,NaN,a4,NaN,...,NaN,NaN,NaN,A5,NaN,NaN,NaN,NaN,A5,NaN
2,00:00:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,a4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00:00:06,Se,NaN,NaN,NaN,NaN,O,NaN,NaN,NaN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,00:00:08,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O,NaN

In [49]:
dfs = df[['tiempo', '1a']]
dfs.loc[~pd.isna(dfs['1a'])]

       tiempo   1a
3    00:00:06   Se
5    00:00:10  Si
6    00:00:12    N
16   00:00:32   In
31   00:01:02   In
46   00:01:32   In
54   00:01:48    L
57   00:01:54    L
61   00:02:02    N
62   00:02:04   N*
64   00:02:08    N
68   00:02:16    L
71   00:02:22    I
74   00:02:28   N*
75   00:02:30    L
77   00:02:34   L*
78   00:02:36    N
90   00:03:00    L
93   00:03:06    N
100  00:03:20    S
114  00:03:48   In
115  00:03:50   a1
136  00:04:32   In
139  00:04:38    F
140  00:04:40    C
142  00:04:44   S*
143  00:04:46   Se
158  00:05:16   In
173  00:05:46   In
179  00:05:58    S
180  00:06:00    L
189  00:06:18    S

In [37]:
l = df.tiempo.iloc[158### hacer columna de tiempo en segundos
times_s=[]
for i in range(0, len(df)):
    l = df.tiempo.iloc[158]
    times_s.append(  int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds()) )



df['time_s'] = times_s
df.head()]
print(l.hour)
print(l.minute)
print(l.second)

0
5
16

In [38]:
l = df.tiempo.iloc[158]
int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds())

316

In [11]:
from datetime import datetime

datetime.strptime(df.tiempo.iloc[0], "%H:%M:%S")

TypeError: strptime() argument 1 must be str, not datetime.time