In [135]:
from linares_plot import *
import os
import datetime
import re

In [136]:
T='Truco 1'
df=pd.read_excel(os.getcwd() + '\\ANOTACIONES2.xlsx', sheet_name= T )

In [137]:
df.head()

,tiempo,1a,1b,2a,2b,2c,3a,3b,4a,4b,...,34b,35a,35b,36a,36b,36c,37a,37b,38a,38b
0,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00:00:02,NaN,NaN,A7,NaN,NaN,a4,NaN,a4,NaN,...,NaN,NaN,NaN,A5,NaN,NaN,NaN,NaN,A5,NaN
2,00:00:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,a4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00:00:06,Se,NaN,NaN,NaN,NaN,O,NaN,NaN,NaN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,00:00:08,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O,NaN

In [140]:
list_columns_subjects = list(df.columns)
list_columns_subjects.remove('tiempo')

list_columns_subjects=list_columns_subjects[:36]

for subject in list_columns_subjects:
    #print(subject)
    dfs = df[['tiempo', subject]]
    dfs = dfs.loc[~pd.isna(dfs[subject])] # Quitar todos los NaN (qudarnos solo con los eventos)
    ####################################### Añadir una columna de segundos
    times_s=[]
    for i in range(0, len(dfs)):
        l = dfs.tiempo.iloc[i]
        times_s.append(  int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds()) )
    #
    dfs.columns=['tiempo', 'event']
    dfs['time_s'] = times_s
    ####################################### Añadir columna de subject y de truco
    dfs['trick'] = int(T.split(' ')[-1]) ## last character of the string is the number of the trick
    dfs['subject'] = int(re.findall('\d+', subject)[0]) ##separate leter from number
    
    
dfs

       tiempo event  time_s  trick  subject
1    00:00:02    a4       2      1       18
2    00:00:04     S       4      1       18
4    00:00:08    Se       8      1       18
7    00:00:14     S      14      1       18
12   00:00:24     O      24      1       18
14   00:00:28     N      28      1       18
19   00:00:38    Se      38      1       18
21   00:00:42     N      42      1       18
27   00:00:54     N      54      1       18
32   00:01:04     S      64      1       18
43   00:01:26     N      86      1       18
57   00:01:54     L     114      1       18
59   00:01:58     N     118      1       18
60   00:02:00     L     120      1       18
63   00:02:06     L     126      1       18
65   00:02:10     N     130      1       18
67   00:02:14     L     134      1       18
70   00:02:20     N     140      1       18
72   00:02:24     D     144      1       18
77   00:02:34     L     154      1       18
79   00:02:38     O     158      1       18
81   00:02:42     N     162      1       18
83   00:02:46     S     166      1       18
92   00:03:04     L     184      1       18
96   00:03:12     S     192      1       18
98   00:03:16     O     196      1       18
102  00:03:24    Si     204      1       18
103  00:03:26    Se     206      1       18
114  00:03:48     S     228      1       18
117  00:03:54     O     234      1       18
118  00:03:56     N     236      1       18
133  00:04:26     S     266      1       18
148  00:04:56     R     296      1       18
149  00:04:58     N     298      1       18
152  00:05:04     L     304      1       18
157  00:05:14     F     314      1       18
159  00:05:18     S     318      1       18
177  00:05:54     S     354      1       18
178  00:05:56    a3     356      1       18
189  00:06:18    A6     378      1       18

In [37]:
l = df.tiempo.iloc[158### hacer columna de tiempo en segundos
times_s=[]
for i in range(0, len(df)):
    l = df.tiempo.iloc[158]
    times_s.append(  int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds()) )



df['time_s'] = times_s
df.head()]
print(l.hour)
print(l.minute)
print(l.second)

0
5
16

In [38]:
l = df.tiempo.iloc[158]
int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds())

316

In [11]:
from datetime import datetime

datetime.strptime(df.tiempo.iloc[0], "%H:%M:%S")

TypeError: strptime() argument 1 must be str, not datetime.time