In [46]:
from linares_plot import *
import os
import datetime

In [60]:
T='Truco 1'
df=pd.read_excel(os.getcwd() + '\\ANOTACIONES2.xlsx', sheet_name= T )

In [61]:
df.head()

,tiempo,1a,1b,2a,2b,2c,3a,3b,4a,4b,...,34b,35a,35b,36a,36b,36c,37a,37b,38a,38b
0,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00:00:02,NaN,NaN,A7,NaN,NaN,a4,NaN,a4,NaN,...,NaN,NaN,NaN,A5,NaN,NaN,NaN,NaN,A5,NaN
2,00:00:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,a4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00:00:06,Se,NaN,NaN,NaN,NaN,O,NaN,NaN,NaN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,00:00:08,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O,NaN

In [65]:
int(T.split(' ')[-1])
int(subject[0])

1

In [78]:
list_columns_subjects = list(df.columns)
list_columns_subjects.remove('tiempo')
a = list_columns_subjects[10]
a

import re

int(re.findall('\d+', a)[0])

5

In [72]:
a

'38b'

In [83]:
list_columns_subjects = list(df.columns)
list_columns_subjects.remove('tiempo')

list_columns_subjects=list_columns_subjects[:1]

for subject in list_columns_subjects:
    dfs = df[['tiempo', subject]]
    dfs = dfs.loc[~pd.isna(dfs[subject])] # Quitar todos los NaN (qudarnos solo con los eventos)
    ####################################### Añadir una columna de segundos
    times_s=[]
    for i in range(0, len(dfs)):
        l = dfs.tiempo.iloc[i]
        times_s.append(  int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds()) )
    #
    dfs['time_s'] = times_s
    ####################################### Añadir columna de subject y de truco
    dfs['trick'] = int(T.split(' ')[-1]) ## last character of the string is the number of the trick
    dfs['subject'] = int(re.findall('\d+', subject)[0]) ##separate leter from number
    
    
dfs

       tiempo   1a  time_s  trick  subject
3    00:00:06   Se       6      1        1
5    00:00:10  Si       10      1        1
6    00:00:12    N      12      1        1
16   00:00:32   In      32      1        1
31   00:01:02   In      62      1        1
46   00:01:32   In      92      1        1
54   00:01:48    L     108      1        1
57   00:01:54    L     114      1        1
61   00:02:02    N     122      1        1
62   00:02:04   N*     124      1        1
64   00:02:08    N     128      1        1
68   00:02:16    L     136      1        1
71   00:02:22    I     142      1        1
74   00:02:28   N*     148      1        1
75   00:02:30    L     150      1        1
77   00:02:34   L*     154      1        1
78   00:02:36    N     156      1        1
90   00:03:00    L     180      1        1
93   00:03:06    N     186      1        1
100  00:03:20    S     200      1        1
114  00:03:48   In     228      1        1
115  00:03:50   a1     230      1        1
136  00:04:32   In     272      1        1
139  00:04:38    F     278      1        1
140  00:04:40    C     280      1        1
142  00:04:44   S*     284      1        1
143  00:04:46   Se     286      1        1
158  00:05:16   In     316      1        1
173  00:05:46   In     346      1        1
179  00:05:58    S     358      1        1
180  00:06:00    L     360      1        1
189  00:06:18    S     378      1        1

       tiempo   1a  time_s  trick  subject
3    00:00:06   Se       6      1        1
5    00:00:10  Si       10      1        1
6    00:00:12    N      12      1        1
16   00:00:32   In      32      1        1
31   00:01:02   In      62      1        1
46   00:01:32   In      92      1        1
54   00:01:48    L     108      1        1
57   00:01:54    L     114      1        1
61   00:02:02    N     122      1        1
62   00:02:04   N*     124      1        1
64   00:02:08    N     128      1        1
68   00:02:16    L     136      1        1
71   00:02:22    I     142      1        1
74   00:02:28   N*     148      1        1
75   00:02:30    L     150      1        1
77   00:02:34   L*     154      1        1
78   00:02:36    N     156      1        1
90   00:03:00    L     180      1        1
93   00:03:06    N     186      1        1
100  00:03:20    S     200      1        1
114  00:03:48   In     228      1        1
115  00:03:50   a1     230      1        1
136  00:04:32   In     272      1        1
139  00:04:38    F     278      1        1
140  00:04:40    C     280      1        1
142  00:04:44   S*     284      1        1
143  00:04:46   Se     286      1        1
158  00:05:16   In     316      1        1
173  00:05:46   In     346      1        1
179  00:05:58    S     358      1        1
180  00:06:00    L     360      1        1
189  00:06:18    S     378      1        1

In [37]:
l = df.tiempo.iloc[158### hacer columna de tiempo en segundos
times_s=[]
for i in range(0, len(df)):
    l = df.tiempo.iloc[158]
    times_s.append(  int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds()) )



df['time_s'] = times_s
df.head()]
print(l.hour)
print(l.minute)
print(l.second)

0
5
16

In [38]:
l = df.tiempo.iloc[158]
int(datetime.timedelta(hours=l.hour, minutes=l.minute, seconds=l.second).total_seconds())

316

In [11]:
from datetime import datetime

datetime.strptime(df.tiempo.iloc[0], "%H:%M:%S")

TypeError: strptime() argument 1 must be str, not datetime.time