In [1]:
import numpy as np
import statsmodels.formula.api as smf
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns  
from linares_plot import *

In [17]:
frames=[]

Trucos=['Truco 1', 'Truco 2', 'Truco 3', 'Truco 4', 'Truco 5', 'Truco 6', 'Truco 7', ]


Df=pd.read_excel(os.getcwd() + '\\ANOTACIONES_.xlsx', sheet_name='Truco 1')
subj_idx = Df.columns[1:]


for s in subj_idx:
    df_x = Df[['Tiempo', s]]
    df_x.columns=['time', 'lables']
    df_x['subject']=s
    frames.append(df_x)

df = pd.concat(frames, ignore_index=True)

C:\Users\David\Anaconda3\envs\python3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [19]:
frames

[         time lables  subject
 0    00:00:00    NaN        1
 1    00:02:00    NaN        1
 2    00:04:00    NaN        1
 3    00:06:00    NaN        1
 4    00:08:00     Se        1
 5    00:10:00      B        1
 6    00:12:00    NaN        1
 7    00:14:00    NaN        1
 8    00:16:00    NaN        1
 9    00:18:00    NaN        1
 10   00:20:00    NaN        1
 11   00:22:00    NaN        1
 12   00:24:00    NaN        1
 13   00:26:00    NaN        1
 14   00:28:00    NaN        1
 15   00:30:00     In        1
 16   00:32:00    NaN        1
 17   00:34:00    NaN        1
 18   00:36:00    NaN        1
 19   00:38:00    NaN        1
 20   00:40:00    NaN        1
 21   00:42:00    NaN        1
 22   00:44:00    NaN        1
 23   00:46:00    NaN        1
 24   00:48:00    NaN        1
 25   00:50:00    NaN        1
 26   00:52:00    NaN        1
 27   00:54:00    NaN        1
 28   00:56:00    NaN        1
 29   00:58:00    NaN        1
 ..        ...    ...      ...
 266       NaN    NaN        1
 267       NaN    NaN        1
 268       NaN    NaN        1
 269       NaN    NaN        1
 270       NaN    NaN        1
 271       NaN    NaN        1
 272       NaN    NaN        1
 273       NaN    NaN        1
 274       NaN    NaN        1
 275       NaN    NaN        1
 276       NaN    NaN        1
 277       NaN    NaN        1
 278       NaN    NaN        1
 279       NaN    NaN        1
 280       NaN    NaN        1
 281  09:22:00    NaN        1
 282  09:24:00    NaN        1
 283  09:26:00    NaN        1
 284  09:28:00    NaN        1
 285  09:30:00    NaN        1
 286  09:32:00    NaN        1
 287  09:34:00    NaN        1
 288  09:36:00    NaN        1
 289  09:38:00    NaN        1
 290  09:40:00    NaN        1
 291  09:42:00    NaN        1
 292  09:44:00    NaN        1
 293  09:46:00    NaN        1
 294  09:48:00    NaN        1
 295  09:50:00    NaN        1

 [296 rows x 3 columns],          time lables  subject
 0    00:00:00     AA        2
 1    00:02:00    NaN        2
 2    00:04:00    NaN        2
 3    00:06:00      B        2
 4    00:08:00    NaN        2
 5    00:10:00    NaN        2
 6    00:12:00    NaN        2
 7    00:14:00    NaN        2
 8    00:16:00    NaN        2
 9    00:18:00    NaN        2
 10   00:20:00    NaN        2
 11   00:22:00    NaN        2
 12   00:24:00      R        2
 13   00:26:00      P        2
 14   00:28:00    NaN        2
 15   00:30:00    NaN        2
 16   00:32:00    NaN        2
 17   00:34:00    NaN        2
 18   00:36:00    NaN        2
 19   00:38:00    NaN        2
 20   00:40:00    NaN        2
 21   00:42:00    NaN        2
 22   00:44:00    NaN        2
 23   00:46:00    NaN        2
 24   00:48:00    NaN        2
 25   00:50:00    NaN        2
 26   00:52:00    NaN        2
 27   00:54:00      C        2
 28   00:56:00    NaN        2
 29   00:58:00    NaN        2
 ..        ...    ...      ...
 266       NaN    NaN        2
 267       NaN    NaN        2
 268       NaN    NaN        2
 269       NaN    NaN        2
 270       NaN    NaN        2
 271       NaN    NaN        2
 272       NaN    NaN        2
 273       NaN    NaN        2
 274       NaN    NaN        2
 275       NaN    NaN        2
 276       NaN    NaN        2
 277       NaN    NaN        2
 278       NaN    NaN        2
 279       NaN    NaN        2
 280       NaN    NaN        2
 281  09:22:00    NaN        2
 282  09:24:00    NaN        2
 283  09:26:00    NaN        2
 284  09:28:00    NaN        2
 285  09:30:00    NaN        2
 286  09:32:00    NaN        2
 287  09:34:00    NaN        2
 288  09:36:00    NaN        2
 289  09:38:00    NaN        2
 290  09:40:00    NaN        2
 291  09:42:00    NaN        2
 292  09:44:00    NaN        2
 293  09:46:00    NaN        2
 294  09:48:00    NaN        2
 295  09:50:00    NaN        2

 [296 rows x 3 columns],          time lables  subject
 0    00:00:00      A        3
 1    00:02:00    NaN        3
 2    00:04:00    NaN        3
 3    00:06:00    NaN        3
 4    00:08:00    NaN        3
 5    00:10:00    NaN        3
 6    00:12:00    NaN        3
 7    00:14:00    NaN        3
 8    00:16:00    NaN        3
 9    00:18:00    NaN        3
 10   00:20:00    NaN        3
 11   00:22:00    NaN        3
 12   00:24:00      R        3
 13   00:26:00    NaN        3
 14   00:28:00    NaN        3
 15   00:30:00      B        3
 16   00:32:00    NaN        3
 17   00:34:00    NaN        3
 18   00:36:00    NaN        3
 19   00:38:00    NaN        3
 20   00:40:00    NaN        3
 21   00:42:00    NaN        3
 22   00:44:00    NaN        3
 23   00:46:00    NaN        3
 24   00:48:00    NaN        3
 25   00:50:00      P        3
 26   00:52:00    NaN        3
 27   00:54:00    NaN        3
 28   00:56:00    NaN        3
 29   00:58:00    NaN        3
 ..        ...    ...      ...
 266       NaN    NaN        3
 267       NaN    NaN        3
 268       NaN    NaN        3
 269       NaN    NaN        3
 270       NaN    NaN        3
 271       NaN    NaN        3
 272       NaN    NaN        3
 273       NaN    NaN        3
 274       NaN    NaN        3
 275       NaN    NaN        3
 276       NaN    NaN        3
 277       NaN    NaN        3
 278       NaN    NaN        3
 279       NaN    NaN        3
 280       NaN    NaN        3
 281  09:22:00    NaN        3
 282  09:24:00    NaN        3
 283  09:26:00    NaN        3
 284  09:28:00    NaN        3
 285  09:30:00    NaN        3
 286  09:32:00    NaN        3
 287  09:34:00    NaN        3
 288  09:36:00    NaN        3
 289  09:38:00    NaN        3
 290  09:40:00    NaN        3
 291  09:42:00    NaN        3
 292  09:44:00    NaN        3
 293  09:46:00    NaN        3
 294  09:48:00    NaN        3
 295  09:50:00    NaN        3

 [296 rows x 3 columns],          time lables  subject
 0    00:00:00      A        4
 1    00:02:00    NaN        4
 2    00:04:00    NaN        4
 3    00:06:00    NaN        4
 4    00:08:00    NaN        4
 5    00:10:00      O        4
 6    00:12:00    NaN        4
 7    00:14:00    NaN        4
 8    00:16:00    NaN        4
 9    00:18:00      B        4
 10   00:20:00    NaN        4
 11   00:22:00    NaN        4
 12   00:24:00      S        4
 13   00:26:00    NaN        4
 14   00:28:00    NaN        4
 15   00:30:00    NaN        4
 16   00:32:00    NaN        4
 17   00:34:00    NaN        4
 18   00:36:00    NaN        4
 19   00:38:00    NaN        4
 20   00:40:00    NaN        4
 21   00:42:00    NaN        4
 22   00:44:00    NaN        4
 23   00:46:00    NaN        4
 24   00:48:00    NaN        4
 25   00:50:00    NaN        4
 26   00:52:00    NaN        4
 27   00:54:00    NaN        4
 28   00:56:00    NaN        4
 29   00:58:00      C        4
 ..        ...    ...      ...
 266       NaN    NaN        4
 267       NaN    NaN        4
 268       NaN    NaN        4
 269       NaN    NaN        4
 270       NaN    NaN        4
 271       NaN    NaN        4
 272       NaN    NaN        4
 273       NaN    NaN        4
 274       NaN    NaN        4
 275       NaN    NaN        4
 276       NaN    NaN        4
 277       NaN    NaN        4
 278       NaN    NaN        4
 279       NaN    NaN        4
 280       NaN    NaN        4
 281  09:22:00    NaN        4
 282  09:24:00    NaN        4
 283  09:26:00    NaN        4
 284  09:28:00    NaN        4
 285  09:30:00    NaN        4
 286  09:32:00    NaN        4
 287  09:34:00    NaN        4
 288  09:36:00    NaN        4
 289  09:38:00    NaN        4
 290  09:40:00    NaN        4
 291  09:42:00    NaN        4
 292  09:44:00    NaN        4
 293  09:46:00    NaN        4
 294  09:48:00    NaN        4
 295  09:50:00    NaN        4

 [296 rows x 3 columns],          time lables  subject
 0    00:00:00     A+        5
 1    00:02:00    NaN        5
 2    00:04:00    NaN        5
 3    00:06:00    NaN        5
 4    00:08:00    NaN        5
 5    00:10:00    NaN        5
 6    00:12:00    NaN        5
 7    00:14:00    NaN        5
 8    00:16:00    NaN        5
 9    00:18:00    NaN        5
 10   00:20:00    NaN        5
 11   00:22:00      S        5
 12   00:24:00      R        5
 13   00:26:00    NaN        5
 14   00:28:00    NaN        5
 15   00:30:00    NaN        5
 16   00:32:00    NaN        5
 17   00:34:00    NaN        5
 18   00:36:00    NaN        5
 19   00:38:00      F        5
 20   00:40:00    NaN        5
 21   00:42:00    NaN        5
 22   00:44:00    NaN        5
 23   00:46:00    NaN        5
 24   00:48:00    NaN        5
 25   00:50:00    NaN        5
 26   00:52:00    NaN        5
 27   00:54:00    NaN        5
 28   00:56:00    NaN        5
 29   00:58:00    NaN        5
 ..        ...    ...      ...
 266       NaN    NaN        5
 267       NaN    NaN        5
 268       NaN    NaN        5
 269       NaN    NaN        5
 270       NaN    NaN        5
 271       NaN    NaN        5
 272       NaN    NaN        5
 273       NaN    NaN        5
 274       NaN    NaN        5
 275       NaN    NaN        5
 276       NaN    NaN        5
 277       NaN    NaN        5
 278       NaN    NaN        5
 279       NaN    NaN        5
 280       NaN    NaN        5
 281  09:22:00    NaN        5
 282  09:24:00    NaN        5
 283  09:26:00    NaN        5
 284  09:28:00    NaN        5
 285  09:30:00    NaN        5
 286  09:32:00    NaN        5
 287  09:34:00    NaN        5
 288  09:36:00    NaN        5
 289  09:38:00    NaN        5
 290  09:40:00    NaN        5
 291  09:42:00    NaN        5
 292  09:44:00    NaN        5
 293  09:46:00    NaN        5
 294  09:48:00    NaN        5
 295  09:50:00    NaN        5

 [296 rows x 3 columns],          time lables  subject
 0    00:00:00      A        6
 1    00:02:00    NaN        6
 2    00:04:00    NaN        6
 3    00:06:00    NaN        6
 4    00:08:00      B        6
 5    00:10:00    NaN        6
 6    00:12:00    NaN        6
 7    00:14:00      P        6
 8    00:16:00    NaN        6
 9    00:18:00    NaN        6
 10   00:20:00      R        6
 11   00:22:00    NaN        6
 12   00:24:00   R,P         6
 13   00:26:00    NaN        6
 14   00:28:00    NaN        6
 15   00:30:00    NaN        6
 16   00:32:00    NaN        6
 17   00:34:00      F        6
 18   00:36:00    NaN        6
 19   00:38:00    NaN        6
 20   00:40:00      B        6
 21   00:42:00    NaN        6
 22   00:44:00    NaN        6
 23   00:46:00    NaN        6
 24   00:48:00    NaN        6
 25   00:50:00    NaN        6
 26   00:52:00    NaN        6
 27   00:54:00    NaN        6
 28   00:56:00    NaN        6
 29   00:58:00    NaN        6
 ..        ...    ...      ...
 266       NaN    NaN        6
 267       NaN    NaN        6
 268       NaN    NaN        6
 269       NaN    NaN        6
 270       NaN    NaN        6
 271       NaN    NaN        6
 272       NaN    NaN        6
 273       NaN    NaN        6
 274       NaN    NaN        6
 275       NaN    NaN        6
 276       NaN    NaN        6
 277       NaN    NaN        6
 278       NaN    NaN        6
 279       NaN    NaN        6
 280       NaN    NaN        6
 281  09:22:00    NaN        6
 282  09:24:00    NaN        6
 283  09:26:00    NaN        6
 284  09:28:00    NaN        6
 285  09:30:00    NaN        6
 286  09:32:00    NaN        6
 287  09:34:00    NaN        6
 288  09:36:00    NaN        6
 289  09:38:00    NaN        6
 290  09:40:00    NaN        6
 291  09:42:00    NaN        6
 292  09:44:00    NaN        6
 293  09:46:00    NaN        6
 294  09:48:00    NaN        6
 295  09:50:00    NaN        6

 [296 rows x 3 columns],          time lables  subject
 0    00:00:00      A        7
 1    00:02:00      O        7
 2    00:04:00    NaN        7
 3    00:06:00      P        7
 4    00:08:00    NaN        7
 5    00:10:00    NaN        7
 6    00:12:00    NaN        7
 7    00:14:00    NaN        7
 8    00:16:00      C        7
 9    00:18:00      R        7
 10   00:20:00    NaN        7
 11   00:22:00      L        7
 12   00:24:00    NaN        7
 13   00:26:00    NaN        7
 14   00:28:00      R        7
 15   00:30:00    NaN        7
 16   00:32:00    NaN        7
 17   00:34:00    NaN        7
 18   00:36:00      O        7
 19   00:38:00    NaN        7
 20   00:40:00    NaN        7
 21   00:42:00    NaN        7
 22   00:44:00    NaN        7
 23   00:46:00    NaN        7
 24   00:48:00    NaN        7
 25   00:50:00     In        7
 26   00:52:00    NaN        7
 27   00:54:00    NaN        7
 28   00:56:00      P        7
 29   00:58:00    NaN        7
 ..        ...    ...      ...
 266       NaN    NaN        7
 267       NaN    NaN        7
 268       NaN    NaN        7
 269       NaN    NaN        7
 270       NaN    NaN        7
 271       NaN    NaN        7
 272       NaN    NaN        7
 273       NaN    NaN        7
 274       NaN    NaN        7
 275       NaN    NaN        7
 276       NaN    NaN        7
 277       NaN    NaN        7
 278       NaN    NaN        7
 279       NaN    NaN        7
 280       NaN    NaN        7
 281  09:22:00    NaN        7
 282  09:24:00    NaN        7
 283  09:26:00    NaN        7
 284  09:28:00    NaN        7
 285  09:30:00    NaN        7
 286  09:32:00    NaN        7
 287  09:34:00    NaN        7
 288  09:36:00    NaN        7
 289  09:38:00    NaN        7
 290  09:40:00    NaN        7
 291  09:42:00    NaN        7
 292  09:44:00    NaN        7
 293  09:46:00    NaN        7
 294  09:48:00    NaN        7
 295  09:50:00    NaN        7

 [296 rows x 3 columns],          time lables  subject
 0    00:00:00    S,A        8
 1    00:02:00    NaN        8
 2    00:04:00    NaN        8
 3    00:06:00      S        8
 4    00:08:00    NaN        8
 5    00:10:00    NaN        8
 6    00:12:00    NaN        8
 7    00:14:00    NaN        8
 8    00:16:00      B        8
 9    00:18:00    NaN        8
 10   00:20:00      F        8
 11   00:22:00      S        8
 12   00:24:00    NaN        8
 13   00:26:00     Si        8
 14   00:28:00      S        8
 15   00:30:00    NaN        8
 16   00:32:00    NaN        8
 17   00:34:00    NaN        8
 18   00:36:00    NaN        8
 19   00:38:00    NaN        8
 20   00:40:00    NaN        8
 21   00:42:00    NaN        8
 22   00:44:00    NaN        8
 23   00:46:00    NaN        8
 24   00:48:00    NaN        8
 25   00:50:00    NaN        8
 26   00:52:00    NaN        8
 27   00:54:00      C        8
 28   00:56:00    NaN        8
 29   00:58:00    NaN        8
 ..        ...    ...      ...
 266       NaN    NaN        8
 267       NaN    NaN        8
 268       NaN    NaN        8
 269       NaN    NaN        8
 270       NaN    NaN        8
 271       NaN    NaN        8
 272       NaN    NaN        8
 273       NaN    NaN        8
 274       NaN    NaN        8
 275       NaN    NaN        8
 276       NaN    NaN        8
 277       NaN    NaN        8
 278       NaN    NaN        8
 279       NaN    NaN        8
 280       NaN    NaN        8
 281  09:22:00    NaN        8
 282  09:24:00    NaN        8
 283  09:26:00    NaN        8
 284  09:28:00    NaN        8
 285  09:30:00    NaN        8
 286  09:32:00    NaN        8
 287  09:34:00    NaN        8
 288  09:36:00    NaN        8
 289  09:38:00    NaN        8
 290  09:40:00    NaN        8
 291  09:42:00    NaN        8
 292  09:44:00    NaN        8
 293  09:46:00    NaN        8
 294  09:48:00    NaN        8
 295  09:50:00    NaN        8

 [296 rows x 3 columns],          time lables  subject
 0    00:00:00      A        9
 1    00:02:00    NaN        9
 2    00:04:00    NaN        9
 3    00:06:00     Si        9
 4    00:08:00    NaN        9
 5    00:10:00    NaN        9
 6    00:12:00    NaN        9
 7    00:14:00    NaN        9
 8    00:16:00    NaN        9
 9    00:18:00    NaN        9
 10   00:20:00    NaN        9
 11   00:22:00    NaN        9
 12   00:24:00      L        9
 13   00:26:00    NaN        9
 14   00:28:00    NaN        9
 15   00:30:00    NaN        9
 16   00:32:00      C        9
 17   00:34:00    NaN        9
 18   00:36:00    NaN        9
 19   00:38:00    NaN        9
 20   00:40:00    NaN        9
 21   00:42:00    NaN        9
 22   00:44:00      C        9
 23   00:46:00    NaN        9
 24   00:48:00     Si        9
 25   00:50:00    NaN        9
 26   00:52:00    NaN        9
 27   00:54:00      C        9
 28   00:56:00      C        9
 29   00:58:00    NaN        9
 ..        ...    ...      ...
 266       NaN    NaN        9
 267       NaN    NaN        9
 268       NaN    NaN        9
 269       NaN    NaN        9
 270       NaN    NaN        9
 271       NaN    NaN        9
 272       NaN    NaN        9
 273       NaN    NaN        9
 274       NaN    NaN        9
 275       NaN    NaN        9
 276       NaN    NaN        9
 277       NaN    NaN        9
 278       NaN    NaN        9
 279       NaN    NaN        9
 280       NaN    NaN        9
 281  09:22:00    NaN        9
 282  09:24:00    NaN        9
 283  09:26:00    NaN        9
 284  09:28:00    NaN        9
 285  09:30:00    NaN        9
 286  09:32:00    NaN        9
 287  09:34:00    NaN        9
 288  09:36:00    NaN        9
 289  09:38:00    NaN        9
 290  09:40:00    NaN        9
 291  09:42:00    NaN        9
 292  09:44:00    NaN        9
 293  09:46:00    NaN        9
 294  09:48:00    NaN        9
 295  09:50:00    NaN        9

 [296 rows x 3 columns],          time lables  subject
 0    00:00:00     A+       10
 1    00:02:00    NaN       10
 2    00:04:00    NaN       10
 3    00:06:00    NaN       10
 4    00:08:00    NaN       10
 5    00:10:00    NaN       10
 6    00:12:00    NaN       10
 7    00:14:00    NaN       10
 8    00:16:00    NaN       10
 9    00:18:00    NaN       10
 10   00:20:00     Se       10
 11   00:22:00      S       10
 12   00:24:00      R       10
 13   00:26:00      L       10
 14   00:28:00     PV       10
 15   00:30:00    NaN       10
 16   00:32:00    NaN       10
 17   00:34:00    NaN       10
 18   00:36:00    NaN       10
 19   00:38:00    NaN       10
 20   00:40:00    NaN       10
 21   00:42:00    NaN       10
 22   00:44:00    NaN       10
 23   00:46:00    NaN       10
 24   00:48:00    NaN       10
 25   00:50:00      C       10
 26   00:52:00    NaN       10
 27   00:54:00    NaN       10
 28   00:56:00    NaN       10
 29   00:58:00    NaN       10
 ..        ...    ...      ...
 266       NaN    NaN       10
 267       NaN    NaN       10
 268       NaN    NaN       10
 269       NaN    NaN       10
 270       NaN    NaN       10
 271       NaN    NaN       10
 272       NaN    NaN       10
 273       NaN    NaN       10
 274       NaN    NaN       10
 275       NaN    NaN       10
 276       NaN    NaN       10
 277       NaN    NaN       10
 278       NaN    NaN       10
 279       NaN    NaN       10
 280       NaN    NaN       10
 281  09:22:00    NaN       10
 282  09:24:00    NaN       10
 283  09:26:00    NaN       10
 284  09:28:00    NaN       10
 285  09:30:00    NaN       10
 286  09:32:00    NaN       10
 287  09:34:00    NaN       10
 288  09:36:00    NaN       10
 289  09:38:00    NaN       10
 290  09:40:00    NaN       10
 291  09:42:00    NaN       10
 292  09:44:00    NaN       10
 293  09:46:00    NaN       10
 294  09:48:00    NaN       10
 295  09:50:00    NaN       10

 [296 rows x 3 columns],          time lables  subject
 0    00:00:00   PV,A       11
 1    00:02:00    NaN       11
 2    00:04:00    NaN       11
 3    00:06:00    NaN       11
 4    00:08:00    NaN       11
 5    00:10:00    NaN       11
 6    00:12:00    NaN       11
 7    00:14:00    NaN       11
 8    00:16:00    NaN       11
 9    00:18:00    NaN       11
 10   00:20:00      S       11
 11   00:22:00    NaN       11
 12   00:24:00    L,S       11
 13   00:26:00    NaN       11
 14   00:28:00    NaN       11
 15   00:30:00    NaN       11

In [21]:
Df.Tiempo

0      00:00:00
1      00:02:00
2      00:04:00
3      00:06:00
4      00:08:00
5      00:10:00
6      00:12:00
7      00:14:00
8      00:16:00
9      00:18:00
10     00:20:00
11     00:22:00
12     00:24:00
13     00:26:00
14     00:28:00
15     00:30:00
16     00:32:00
17     00:34:00
18     00:36:00
19     00:38:00
20     00:40:00
21     00:42:00
22     00:44:00
23     00:46:00
24     00:48:00
25     00:50:00
26     00:52:00
27     00:54:00
28     00:56:00
29     00:58:00
         ...
266         NaN
267         NaN
268         NaN
269         NaN
270         NaN
271         NaN
272         NaN
273         NaN
274         NaN
275         NaN
276         NaN
277         NaN
278         NaN
279         NaN
280         NaN
281    09:22:00
282    09:24:00
283    09:26:00
284    09:28:00
285    09:30:00
286    09:32:00
287    09:34:00
288    09:36:00
289    09:38:00
290    09:40:00
291    09:42:00
292    09:44:00
293    09:46:00
294    09:48:00
295    09:50:00
Name: Tiempo, Length: 296, dtype: object